$fontBold: bold;
form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    margin: auto;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.resultsHead{
    padding-top: 10px;
    font-weight: $fontBold;
    font-size: 150%;

}

.results{
    font-weight: $fontBold;
    border: 1px solid black;
}
